* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;

  /* -webkit-touch-callout: none; */
  /* -webkit-user-select: none; */
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
  /* -webkit-text-size-adjust: 100%; */
}

body {
  height: 100vh;
}

#signin {
  position: absolute;
  margin: 0;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 2em;
  border: 1px solid lightgray;
}
