/* Placement */
.center {
  position: absolute;
  margin: 0;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.side {
  position: absolute;
  margin: 0;
  white-space: nowrap;
  transform: translate(0, -50%);
}

/* Checkbox */
.checkbox {
  display: none;
}

.checkbox-label {
  position: relative;
  cursor: pointer;
  color: #4477a1;
  font-size: 48pt;
  padding: .25em;
}

.checkbox:checked + .checkbox-label:after {
  position: absolute;
  font-size: 70%;
  content: "\2713";
  color: green;
  margin-left: .25em;
}

/* Main Page */
#mainPage a:active {
  color: goldenrod;
}

/* Citation */
#citation {
  top: 20%;
  left: 50%;
}

/* Move Buttons */
.move {
  font-size: 40pt;
}

#prev {
  top: 45%;
  left: .5em;
  color: lightgray;
}

#next {
  top: 45%;
  right: .5em;
  color: lightgray;
}

/* Menu */
#links {
  top: 70%;
  left: 50%;
  padding: 0;
}

#links > li {
  text-align: center;
  margin-bottom: .5em;
}

#links > li > a {
  font-size: 18pt;
  font-style: italic;
  color: gray;
}
