
/* Cell */
.cellsSection {
  float: left;
  padding: 1em;
  background: white;
  border: 1px solid lightgray;
  height: 100vh;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.cell {
  float: left;
  display: block;
  font-size: .7em;
  margin-top: 2px;
  margin-left: 2px;
  height: 32px;
  line-height: 32px;
  width: 32px;
  color: #4477a1;
  background: white;
  transition: background-color 1s;
  border: 1px solid #e4eff9;
  text-align: center;
  cursor: pointer;
}

.cell.firstChapter {
  font-weight: bold;
}

.cell.done {
  background: #dae2e5;
}

.cell.current {
  border: 1px solid red;
}

/* Toolbar */
.toolbar {
  position: fixed;
  height: 100vh;
  width: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
}

.toolbarButtons {
  display: inline-block;
  position: relative;
}

.toolbarButtons > a {
  display: inline-block;
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  background-color: white;
  font-size: 1.5em;
  margin-left: 1px;
}
