
/* Cell */
.cellsSection {
  float: left;
  padding: 1em;
  background: white;
  border: 1px solid lightgray;
  height: 100vh;
  overflow-x: auto;
}

.cell {
  float: left;
  display: block;
  font-size: .7em;
  margin-top: 2px;
  margin-left: 2px;
  height: 32px;
  line-height: 32px;
  width: 32px;
  color: #4477a1;
  background: white;
  transition: background-color 2s;
  border: 1px solid #e4eff9;
  text-align: center;
  cursor: pointer;
}

.cell.firstChapter {
  font-weight: bold;
}

.cell.done {
  background: #dae2e5;
}

.cell.current {
  border: 1px solid red;
}
